a{
    text-decoration: none !important;
}

.add-product-frm{
    
    width: 50% !important;
    margin: auto !important;
}

.addNewButton{
    display: inline !important;
}
.comPrice{
    display: inline !important;
    float: left !important;
}